@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap%27');

body{
    color:white !important;
    background-color: #72147E;
}

#formulier-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    height:84%;
}

.standard-input{
    border-radius: 5px;
    width:100%;
    padding:5px;
    box-shadow: 5px 5px 10px #72147E;
}

.custom-button{
    background-color:#FF5200;
    padding:8px 20px 8px 20px;
    border-radius: 5px;
    color:white;
    font-weight:bold;
    border: none;
}

.custom-button:hover{
    cursor:pointer;
    animation: shadoweffect;
    animation-fill-mode:forwards;
}

.custom-button:active{
    animation: clickshadoweffect 0.1s;
    animation-fill-mode:forwards;
}


@keyframes clickshadoweffect{
    from{
        background-color:#b33900;
    }
    to{
        background-color:#802900;
    }
}

@keyframes shadoweffect{
    from{
        background-color: rgba(#FF5200,1);
    }
    to{
        background-color:#b33900
    }
}