.main-navbar{
    list-style-type:none;
    display:flex;
    padding:0px;
    margin:0px;
    
}

.navbar-flex{
    display:flex;
}

#top-navbar{
    position:fixed;
    top:0;
    width: 100%;
    z-index:1;
}


#main-navbar-wrapper{
    position:absolute;
    background: linear-gradient(180deg,rgba(242, 17, 112,0),rgba(114, 20, 126,0));
    width:100%;
    opacity: 1 !important;

}

#navbar-background-color{
    position:absolute;
    background: linear-gradient(180deg,rgba(242, 17, 112,0.5),rgba(114, 20, 126,0.4));
    width:100%;
    height:53px;
    opacity: 1;
}

/*
.main-navbar-wrapper-transparent{
    animation: navbartransparent 2s;
    animation-fill-mode:forwards;
}

.main-navbar-wrapper-not-transparent{
    animation: navbarnottransparent 2s;
    animation-fill-mode:forwards;
}


@keyframes navbarnottransparent{
    from{
        background: linear-gradient(180deg,rgba(242, 17, 112,0),rgba(114, 20, 126,0));
    }
    to{
        background: linear-gradient(180deg,rgba(242, 17, 112,0.5),rgba(114, 20, 126,0.4)) !important;
    }
}


@keyframes navbartransparent{
    from{
        background: linear-gradient(180deg,rgba(242, 17, 112,0.5),rgba(114, 20, 126,0.4));
    }
    to{
        background: linear-gradient(180deg,rgba(242, 17, 112,0),rgba(114, 20, 126,0));
    }
}*/

.navbar-block{
    flex:1;
}

.navbar-link{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:15px;
    width:70px;
    color:white;
    text-decoration:none;
    font-family:cursive;
}

.active{
    font-weight:bold;
}

.navbar-item:hover{
    animation: shadowbackground 2s;
    animation-fill-mode: forwards;
}

@keyframes shadowbackground{
    from{
        background-color: rbga(255,255,255,0);
    }
    to{
        background-color:rgba(0,0,0,0.4);
    }
}

#main-navbar-left{
    justify-content:left;
}

#main-navbar-right{
    justify-content:right;
}