.main-navbar{
    list-style-type:none;
    display:flex;
    padding:0px;
    margin:0px;
    
}

.navbar-flex{
    display:flex;
}


#main-navbar-wrapper{
    background: linear-gradient(45deg, #7b4397, #dc2430);
}

.navbar-block{
    flex:1;
}

.navbar-link{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:15px;
    width:70px;
    color:white;
    text-decoration:none;
    font-family:cursive;
}

.active{
    font-weight:bold;
}

.navbar-item:hover{
    animation: shadowbackground 2s;
    animation-fill-mode: forwards;
}

@keyframes shadowbackground{
    from{
        background-color: rbga(255,255,255,0);
    }
    to{
        background-color:rgba(0,0,0,0.4);
    }
}

#main-navbar-left{
    justify-content:left;
}

#main-navbar-right{
    justify-content:right;
}