html,body{
    height:100%;
    margin:0px;
    background-color: #72147E;
}

/* section */
#s1{
    margin: 40px;
    margin-top: 80px;
    padding: auto;
    display: flex;
    justify-content: space-around;
}

#s2{
    margin: 40px;
    margin-top: 80px;
    padding: auto;
    display: flex;
    justify-content: space-around;
}

/* Division */
section div{
    flex:0 1 auto;
    color:#ffffff;
}

/* Heading */
#h1{
    transform:translatex(50px) translateY(-10px);
    width:76% !important;
    font-size:85px;
    margin-bottom:30px;
    margin-top:30px;
    text-transform:capitalize;
    font-style:normal;
    text-shadow:rgb(255, 0, 0) -1px 0px 0px, rgb(0, 255, 255) 1px 0px 0px;
    direction:ltr;
}

#h2{
    transform:translatex(10px) translateY(-10px);
    width:76% !important;
    font-size:85px;
    margin-bottom:30px;
    margin-top:30px;
    text-transform:capitalize;
    font-style:normal;
    text-shadow:rgb(255, 0, 0) -1px 0px 0px, rgb(0, 255, 255) 1px 0px 0px;
    direction:ltr;
}

/* Paragraph */
#p1{
    text-align:right;
    transform:translatex(0px) translatey(-20px);
    color:#ffffff;
    margin-top:18px !important;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    font-weight:500;
    font-size:30px;
}

#p2{
    text-align:left;
    transform:translatex(0px) translatey(-40px);
    color:#ffffff;
    margin-top:18px !important;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    font-weight:500;
    font-size:30px;
}

#Link{
    text-decoration: none;
    color: rgb(0, 255, 255);
}